.card {
  margin: 25px;
  width: 300px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.06);
  border-radius: 5px;
  min-height: 350px;

  &__logo {
    width: auto;
    height: 64px;
    margin: 1em auto;
    img {
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }

  &__title {
    text-align: center;
    margin: 1em 0;
    font-size: 1.25em;
  }
  &__description {
    opacity: 0.68;
    font-size: .8em;
    color: #111335;
    line-height: 20px;
    flex: 1 1 0px;
    margin-bottom: 1.2em;
  }
  &__footer {
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 0.7em;
    color: #a4a4b9;

    &--development {
      border-top: 1px solid #DFDFDF;
    }
    &--roadMap {
      border-top: 1px solid #DFDFDF;
    }
    &--production {}

  }
  &__button {
    padding: .5em;
    color: #4A4AD0;
    font-weight: 700;
    font-size: .8em;
    text-align: center;
    cursor: pointer;
  }
}
